/* MOBILE */
@media (max-width: 740px) {
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #header {
        overflow: hidden;
    }
    #nav > li {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    .s-col-full {
        width: 100%;
        margin-top: 13px;
    }
    #slider .text-content {
        bottom: -28px;
    }
}